/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: lightsalmon;
}

// --------------------------------------------------------------------------------------
// 
//      Notice how this takes affect because we use the gloabl stylesheet as prescribed.
// 
// --------------------------------------------------------------------------------------
.mat-tab-group.mat-primary.myTabs .mat-ink-bar {
    background-color: red;
}

// --------------------------------------------------------------------------------------
// 
//      Notice how this takes affect because we use the gloabl stylesheet as prescribed.
// 
// --------------------------------------------------------------------------------------
.mat-flat-button.mat-primary.myButton {
    border-radius: 100px;
}